header {
    display: inline-block;
    border-bottom: solid 1px #dddddd;
    font-weight: bold;
    width: 100%;
}
span {
    display: inline-block;
    margin: 1px;
}
ul{
    list-style: none;
    padding: 0;
}

.family-ages {
    display: flex;
    flex-wrap: wrap;
}

.family-ages-header {
    width: 100%;
}

.year {
    width: 10%;
    text-align: center;
}
.name {
	width: 20%;
    text-align: center;
}
.age {
    width: 10%;
    text-align: center;
}
.event {
    width: 40%;
    text-align: center;
}
.money {
    width: 10%;
    text-align: right;
}