<app-page-header
  [title]="'今後のライフイベントとかかる費用'"
  [desc]="'今から20年先までの自分と家族の暮らしをイメージしながら、先々のライフイベントとかかる費用を書き出してみましょう'"
></app-page-header>

<app-family-alert *ngIf="isEmptyFamily()"></app-family-alert>

<app-life-event-input [family]="family"></app-life-event-input>
<header>
  <span class="year">年代</span>
  <span class="name">名前（続柄）</span>
  <span class="age">年齢</span>
  <span class="event">ライフイベント</span>
  <span class="money">かかるお金</span>
</header>
<app-life-event-list [family]="family"></app-life-event-list>