/* You can add global styles to this file, and also import other style files */
body {
	margin: 20px;
  }
  
  form {
	margin: 5px
  }
  
  button, input, select {
	font-size: 14px;
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 0;
	background-color: #fff;
  }
  
  input {
	height: 20px;
  }
  
  input[type=date] {
	width: 150px
  }
  
  @media screen and (max-width:680px) {
	body {
	  margin: 2px
	}
	input[type=date] {
	  width: 120px
	}
  }
  
  input[type=text] {
	width: 90px
  }
  
  input[type=number] {
	width: 60px
  }
  
  button, select {
	height: 42px
  }
  
  select {
	-webkit-appearance: none;
	-moz-appearance: none
  }